<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Crime Data</title>


<!--  D3 cdn-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script>
  <script>
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
}</script>

<!--   Our CSS -->
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style_ch.css')}}">
</head>
	 <div><a href="/">Back to Home Page</a></div>
<body bgcolor="000000"><!-- Navbar with dropdown menu on right and homepage link on left-->
<nav class="navbar navbar-inverse">
<h1 class="container-fluid" style="text-align: center;"><span style="color:#FFFFFF;"><b>Long Beach <br>Crime Data</b></span></font></span></h1>
</nav>

<body>
  <!-- The div where we will inject our map -->
  <div id="plot1"></div>
 
     
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  
  <!-- Our JS -->
  <script type="text/javascript" src="../static/logic_crime.js"></script>
<!--  <script type="text/javascript" src="../static/logic_sqlite.js"></script>  -->
    
<!-- 
  <script type="text/javascript" src="{{ url_for('static', filename='logic.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='config.js') }}"></script> -->
  <hr>
  <div id="plot2"></div>
  <div id="plot3"></div>
  <div><a href="/">Back to Home Page</a></div>
    
    
</body>
</html>