<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Home Page</title>
  <script src="https://kit.fontawesome.com/90051f9e42.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style_cover.css')}}">
</head>

<body>


  <div class="wrapper">
  	<div class="sidebar">
  		<h2>Homefinder 1.0</h2>
  		<ul>
  			<li><a href ="/map"><i class="fas fa-map-pin"></i> Properties</a></li>
  			<li><a href ="indexjas"><i class="fas fa-dollar-sign"></i> Price Trends</a></li>
  			<li><a href ="/school"><i class="fas fa-graduation-cap"></i> School Info</a></li>
  			<li><a href ="/crime"><i class="fas fa-bell"></i> Crime Rates</a></li>
  		</ul>
  	</div>
  	<div class="main_content">
  		<div class="header">Welcome to Homefinder 1.0!</div>
  		<div class="info">
  			<div>Are you looking for your next home that is not only warm and cozy, but also bringing you <strong>best value for your money</strong>?</div>
        <br>
        <div>Are you wondering when would be <strong>a good time</strong> to buy/rent? </div>
        <br>
        <div>Meanwhile you need to find the <strong>best school</strong> for you children?</div>
        <br>
        <div>And you also wonder if the area is <strong>safe</strong> for your family?</div>
        <br>
        <div>This is a simple tool developed to help you out with the city of <strong>Long Beach, CA</strong> as an example.</div>
        <br>
        <div>Simply click through the tabs in the side menu to find out more!</div>
  		</div>
  	</div>
  </div>






</body>
</html>